<p-menubar [model]="menuItems">
  <i
    class="pi pi-bell p-mr-4 p-text-secondary"
    pBadge
    style="font-size: 2rem"
    value="{{ notifications.length }}"
    (click)="op.toggle($event)"
  ></i>
  <p-overlayPanel #op>
    <ng-template pTemplate>
        <div *ngFor="let notification of notifications">
          <h5>{{ notification.title }}</h5>
          <span>{{ notification.message }}</span>
          <hr>
        </div>
    </ng-template>
  </p-overlayPanel>
</p-menubar>

<router-outlet></router-outlet>